.contact-section {
    margin-top: 40px;
    height: 150px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    background-color: rgba(30, 29, 29, 1);
    padding-left: 30px; 
    padding-right: 30px; 
}

.connect-title {
    display: flex;
    position: absolute;
    color: rgb(229, 229, 229);
    font-family: 'Didot', serif, 'Times New Roman', Times, sans-serif; 
    font-weight: bold;
    font-size: 25px;
    top: 25px;
    left: 10%;
    padding-bottom: 15px;
}

.contacts-grid {
    margin-top: 70px;
    display: flex;
    justify-content: space-between; 
    padding: 0 30px; 
}

.contact-phone, .contact-mail, .contact-linkedin {
    background-color: rgb(14, 14, 14);
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 30%;
    min-width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.contact-phone, .contact-linkedin {
    min-width: 200px;
}

.contact-linkedin:hover {
    background-color: rgb(50, 50, 50);
    cursor: pointer;
}
.contact-linkedin:active {
    background-color: rgb(91, 91, 91);
}

.icon {
    width: 40px;
    height: 35px;
    object-fit: cover;
    padding: 4px;
    border-radius: 10px;
    filter: brightness(80%);
}

.contact-text {
    color: rgb(229, 229, 229, 0.8);
    font-size: 15px;
}

@media(max-width:700px){
    .contact-phone, .contact-linkedin {
        min-width: 140px;
    }
    .contact-mail {
        min-width: 210px;
    }
    .contact-text {
        font-size: 14px;
    }
    .contacts-grid {
        padding-left: 15px;
        padding-right: 15px;
    } 
}

@media(max-width:650px){
    .contacts-grid {
        padding-left: 0;
        padding-right: 0;
    }
}