*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

.header {
    position: fixed; 
    top: 0;
    width: 100%;
    background-color: rgba(37, 48, 47, 1);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228);
    z-index: 1000;
}

li{
    list-style: none;
}

a{
    color: rgb(229, 229, 229);
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}

.nav-menu{
    display: flex; 
    justify-content: space-between;
    align-items: end; 
    gap: 60px;
    color: rgb(229, 229, 229);
    font-family: 'Didot', serif, 'Times New Roman', Times, sans-serif; 
    font-size: 20px;
    margin-bottom: 10px;
    padding-top: 30px;
}

.nav-menu:hover {
    color: rgb(147, 147, 147);
    cursor: pointer;
}

.nav-branding{
    align-items: center;
    padding-bottom: 10px;
    color: rgb(229, 229, 229);
    font-family: 'Didot', serif, 'Times New Roman', Times, sans-serif; 
    font-size: 35px;
    font-weight: bold;
    padding-top: 10px;
}

.nav-branding:hover{
    cursor: auto;
}

.nav-link{
    transition: 0.3s ease;
}

.nav-link:hover{
    color: rgb(116, 116, 116);
}

.hamburger{
    display: none; 
    cursor: pointer;
    padding-bottom: 10px;
}

.bar{
    display: block; 
    width: 25px; 
    height: 3px; 
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white; 
}

@media(max-width:800px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: rgba(30, 29, 29, 0.9);
        width: 190px;
        text-align: center;
        align-items: center; 
        transition: 0.3s;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(30, 29, 29, 1);
    }
    .nav-item {
        margin: 16px 0;
    }
    .nav-menu.active{
        right: 0;
    }
}